@import _fonts

*
    margin: 0
    padding: 0

body 
    font-family: 'Roboto Condensed', sans-serif
    font-weight: lighter
    font-weight: 1
    overflow: hidden
    height: 100%
    width: 100%

h1, h2
    font-weight: lighter