@import _colors

.desktopCurtain
    width: 100vw
    height: 100vh
    background: $primaryColor
    text-align: center

    img
        position: absolute
        top: 30%
        left: 50%
        transform: translate(-50%, -50%)
        widows: 20%
        height: 20%

    h1
        position: absolute
        top: 45%
        left: 50%
        transform: translateX(-50%)
        color: $backgroundedTextColor
        font-size: 40px