@import _share
@import _colors

.view.game
    
    .word
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        display: flex
        flex-direction: row
        justify-content: center

        .letter
            height: 50%
            margin-top: 50%
            width: max-content
            text-align: center
            align-content: 40%
            display: flex
        
            p
                font-family: 'Roboto Mono', monospace
                color: $textColor
                font-size: 5vw * 2
                padding: 0.5px
                user-select: none
                transition: .09s
                height: min-content
                opacity: .6

                &.active
                    opacity: 1
                    color: $primaryColor
                    font-size: 5vw * 2.6
                    transform: translateY(-16%)

                &.subActive
                    font-size: 5vw * 2.3
                    transform: translateY(-10%)
                
                &.incorrect
                    color: $errorColor

                &.correct
                    color: $primaryColor

    h1
        font-size: 18px
        color: $textColor
        opacity: .3
        position: absolute
        left: 50%
        bottom: 10%
        transform: translateX(-50%)
        width: 40%
        height: max-content
        text-align: center

    .word-enter, .word-appear 
        opacity: 1
        transition: .2s

    .word-enter-active, .word-appear-active 
        opacity: 0
    
    .word-exit
        opacity: 0
        transition: .2s

    .word-exit-active
        opacity: 1
