@import _share
@import _colors

.view.login
    transition: .3s
    opacity: 1

    .textWrap
        position: absolute
        top: 20%
        width: 100%
        left: 0
        height: max-content
        text-align: center
        z-index: 2

        h1
            color: $textColor
            opacity: .2
            font-size: 4vh

        button
            background: none
            border: none
            color: none
            user-select: none
            outline: none
            color: #1d80d1
            margin-top: 20px
            font-size: 2.2vh

    svg
        position: absolute
        display: block
        bottom: 0
        left: 50%
        width: 110%
        transform: translate(-50%, 4%) scale(1.1)
    
    &.hide
        opacity: 0

    #m1body, #m2body, #m4body, #m5body, #m1shad, #m2shad, #m4shad, #m5shad, #m2top, #m4top, #m5top
        animation: raise 1.5s forwards
        animation-delay: 1s
        transform: translateY(100%)

    #m1body, #m1shad
        animation-delay: .1s

    #m2body, #m2top, #m2shad
        animation-delay: .05s
    
    #m3body, #m3top, #m3shad
        animation: raise-3 1.5s forwards
        animation-delay: 1s
        transform: translateY(100%)
        animation-delay: .4s

    #m4body, #m4top, #m4shad
        animation-delay: .15s

    #m5body, #m5top, #m5shad
        animation-delay: .28s

    @keyframes raise
        0%
            transform: translateY(100%)
        70%
            transform: translateY(-1%)
        100%
            transform: translateY(0)

    @keyframes raise-3
        0%
            transform: translateY(100%)
        70%
            transform: translateY(14%)
        100%
            transform: translateY(15%)
            
        