:root {
    --app-height: 100vh
}

.scene {
    height: var(--app-height);
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav {
    flex: 1;
    width: 100%;
    background: #78CA5B;
}

.view-wrap {
    position: relative;
    flex: 11;
    width: 100%;
    opacity: 0;
    animation: fade 1.2s forwards;
}

.view-enter, .view-appear {
    transform: translateX(-100%);
}

.view-enter-active, .view-appear-active {
    transform: translateX(0);
    transition: transform .5s;
}

.view-exit {
    transform: translateX(0);
}

.view-exit-active {
    transform: translateX(100%);
    transition: transform .5s;
}

.curtain {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #0000007a;
    display: block;
    animation: fade .2s;
    display: none;
}

.fade-enter, .fade-appear {
    opacity: 0;
    display: block;
}

.fade-enter-active, .fade-appear-active {
    opacity: 1;
    transition: .3s;
}

.fade-enter-done, .fade-appear-done {
    opacity: 1;
    display: block;
}

.fade-exit {
    opacity: 1;
    display: block;
}

.fade-exit-active {
    opacity: 0;
    transition: .3s;
    display: block;
}

.fade-exit-done {
    opacity: 0;
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}