@import _colors

.nav 
    flex: 1
    box-sizing: border
    width: 100%
    background: $primaryColor
    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    position: relative
    padding: 0
    margin: 0
    z-index: 10

    .left
        display: flex
        flex-direction: row
        width: max-content
        align-content: center
        height: 100%
        flex-direction: row
        margin-left: 10px

        *
            align-self: center
        
        h1
            font-size: calc(100vh / 12 * 0.4)
            color: $backgroundedTextColor
            margin-left: 10px
            user-select: none

        img
            height: 50%

    .bar
        align-self: center
        height: 50%
        margin-right: 10px
        cursor: pointer
        width: min-content
        cursor: pointer
        user-select: none
        position: relative

        .stick
            width: calc(100vh / 12 * 0.2 * 3.2)
            height: 20%
            border-radius: 20px
            background: $backgroundedTextColor
            position: absolute
            right: 0
            top: 40%
            transition: .3s
        
            &:first-child
                top: 0

            &:last-child
                bottom: 0
                top: unset

        &.cross
            .stick
                opacity: 0

                &:first-child
                    opacity: unset
                    transform-origin: center top
                    top: 50%
                    transform: rotate(45deg) translateY(-50%)
                
                &:last-child
                    opacity: unset
                    transform-origin: center bottom
                    bottom: 50%
                    transform: rotate(-45deg) translateY(50%)

    .linkHouse
        width: 100% 
        background: $primaryColor
        border-top: 2px solid $backgroundedTextColor
        position: absolute
        z-index: 11
        left: 0
        top: 100%
        height: max-content
        overflow: hidden
        transition: .3s
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
        text-align: right
        padding-bottom: 10px

        &.opened
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)

        .link
            color: $backgroundedTextColor
            font-size: 25px
            text-decoration: none
            margin-top: 10px
            display: block
            margin-right: 20px
            user-select: none
            outline: none

    
@keyframes openLinkHouse
    0%
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
    100%
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)

.barSlide-enter, .barSlide-appear
    .stick
        transform: translateX(150%)

.barSlide-enter-active, .barSlide-appear-active
    .stick
        animation: barSlideStick .2s forwards
        animation-delay: .2s
        &:last-child
            animation-delay: .3s
        &:first-child
            animation-delay: .1s

.barSlide-enter-done, .barSlide-appear-done
    .stick
        animation: unset
        transform: none

@keyframes barSlideStick
    0%
        transform: translateX(150%)
    100%
        transform: translateX(0)
        