@import _share
@import _colors

.view.processing
    
    img
        position: absolute
        top: 35%
        left: 50%
        transform: translate(-50%, -50%)
        width: 40%

    h2
        color: $primaryColor
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        margin-top: 30vw

    .bar
        position: absolute
        top: 40%
        left: 50%
        transform: translate(-50%, -50%)
        width: 60%
        height: 8px
        border-radius: 20px

        .racer
            width: 100%
            height: inherit
            background: $primaryColor
            border-radius: 20px
            animation: race 1s infinite linear

        @keyframes race
            0%
                max-width: 10%
                margin-left: 0
            40%
                max-width: 60%
                margin-left: 10%
            70%
                max-width: 40%
                margin-left: 60%
            90%
                max-width: 0
                margin-left: 100%
            91%
                margin-left: 0
            100%
                margin-right: 0
                max-width: 10%
                