@import _share


.view.profile
    text-align: center

    h1
        text-align: center
        max-width: 80%
        margin-left: 10%

        &.first
            margin-top: 15%
    
    h2
        text-align: center
        max-width: 80%
        margin-left: 10%
        margin-top: 20px

        &.first
            margin-top: 10%

    