body {
  background: #2d3436;
  font-family: 'Jura', sans-serif;
}

.nav {
  width: 20%;
  height: 100vh;
  border-right: 2px solid #55efc4;
}

.nav .button {
  outline: none;
  background: none;
  border: none;
  border-bottom: 2px solid #55efc4;
  font-size: 25px;
  width: 100%;
  height: max-content;
  padding: 20px;
  color: white;
  cursor: pointer;
  transition: .3s;
  position: relative;
}

.nav .button span {
  color: #d63031;
  font-size: 15px;
  position: absolute;
  bottom: 2px;
  left: 2px;
}

.nav .button:hover {
  background: #55efc37c;
  color: #2d3436;
}

.nav .button.active {
  background: #55efc4;
  color: #2d3436;
}

.terminal {
  width: 80%;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  overflow-y: scroll;
  color: white;
  font-size: 20px;
  padding-left: 20px;
}

.terminal h1 {
  font-size: 20px;
  padding-left: 20px;
}